body{
   
    background-image: linear-gradient(to right top, #051937, #004d7a, #008793, #00bf72, #a8eb12);
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
    margin: 0px;
    background-attachment: fixed;
    font-family: 'Roboto', sans-serif;
}
header> div{
    float: right;
    margin: 0rem 5rem;
    transform: translateY(-55%);
}
header > h2{
    margin: 0.8rem 4rem;
    color: white;
}
header > div > input{
    padding: 12px;
    border: 1px solid yellowgreen;
    width: 100%;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}
header > div > input:focus{
    color: green;
    outline-color: red;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
  
}
header > div >button{
    padding: 5px;
    cursor: pointer;
    transform: translate(595%,-100%);
    background-color: #019267;
    outline: transparent;
    border-color: transparent;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    color: white;
   
}
header{
    border-bottom: 0.5px solid white;
    position: sticky;
    left: 0%;
    right: 0%;
    top: 0%;
   
    
   z-index: 102;

}
section{
 
    margin: 1rem 4rem;
    
}
.show{
    width: 200px;
    background-color: white;
    border-radius: 5px;
    transition: 3s ease-in-out;
}
.show > img{
    max-height: 180px;
    width: 200px;
    border-radius: 5px 5px 0px 0px;
}
.show > h3,p{
    margin-top: -1%;
    margin-left: 0.8rem;
}
.show > button{
    float: right;
    margin-right: 0.85rem;
    margin-bottom: 0.85rem;
    background-color: #019267;
    padding: 5px;
    border-color: transparent;
    cursor: pointer;
    border-radius: 15px;
    color: white;
}
.show:hover{
    transform: scaleX(1.2);
    box-shadow: 4px 4px 5px lightgrey;
    z-index: 101;
}
#section{
 
     display: grid;
     grid-template-rows: repeat(autofit,1fr);
     grid-template-columns: repeat(5,1fr);
     grid-gap: 3rem;
     margin-right: 1rem;
     /* grid-auto-rows: 200px; */
}